@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');
@import url("//cdn.web-fonts.ge/fonts/alkdots/css/alkdots.min.css");
@import url("//cdn.web-fonts.ge/fonts/alkbasri-light/css/alkbasri-light.min.css");

p {
  font-family: "Jersey 15 Charted", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

span {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-size: 40px;
}

h2 {
	font-family: "ALKDots", sans-serif;
	font-size: 40px;
}

h3 {
	font-family: "ALKBasri-Light", sans-serif;
}