@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Dancing+Script:wght@400..700&display=swap");

h1 {
  color: blue;
  font-family: "Bebas Neue", sans-serif;
}

p {
  color: red;
  font-family: "Poetsen One", sans-serif;
}

span {
  color: brown;
  font-family: "Dancing Script", cursive;
}

h2 {
  font-family: "ALK Life", sans-serif;
}
